<!DOCTYPE html>
<html>
  <head>
    <title>DeviseSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <%= link_to "トップ", items_path %>
    <%= link_to "投稿画面へ", new_item_path %>
    <%= link_to "マイページへ", user_path(current_user.id) %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "新規登録", new_user_registration_path %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
